*{
    margin: 0;
    padding: 0;
}

:root{
    --primarycolor:  white ;
    --secondarycolor: black;
    --accentcolor:gray;
    /* background: aqua; */
    
}

.container{
    /* height:700px; */
    color: var(--primarycolor);
    
    

    
}

.navbar{
    margin:10px 200px;
    padding: 10px 30px;
    width:800px;
    height:50px;
    border:1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondarycolor);
    background-color: var(--primarycolor);
}

.navbar h1{
    font-size: 80px;
}

.note{
    border:1px solid black; 
    padding: 50px 50px 100px 200px;
    color: var(--secondarycolor)
}

nav{
    padding:0px 30px;
    gap: 10px;
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

button{
    padding: 13px 21px;
    margin: 0;
    background-color: #e7e7e7;
    display: inline-block;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: red;
    color: white;
    
}

button a{
    text-decoration: none;
}




